{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card bg-dark box-shadow shadow-lg">
            <h5 class="card-header"><a href="{% url 'store' %}" class="btn btn-warning">&#8592; Continue Shopping</a></h5>
            <div class="card-body">
                <h5 class="card-title text-white">Items: {{order.get_cart_items}}</h5>
                <h5 class="card-title text-white">Total: &#8377;{{order.get_cart_total}}</h5>
                <a class="btn btn-warning" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>

        <br>
        <div class="box-element bg-dark box-shadow shadow-lg text-white">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>

            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="cart-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2">{{item.product.name}}</div>
                <div style="flex:1">&#8377;{{item.product.price}}</div>
                <div style="flex:1">
                    <p class="quantity">{{item.quantity}}</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static 'images/increase.png' %}">
                            <img class="chg-quantity" src="{% static 'images/decrease.png' %}">
                        </div>
                </div>
                <div style="flex:1">&#8377;{{item.get_total}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
<div>
{% endblock content %}