{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div id="product-card" class="card bg-dark mb-3" style="max-width: 18rem;margin: 1.5em;">
            <img src="{{product.image.url}}" class="thumbnail">
            <div class="card-body box-shadow shadow-lg">
                <h5 class="card-title text-white">{{product.name}}</h5>
                <p class="card-text">&#8377;{{product.price}}</p>
                <a class="btn btn-warning" href="#buy-product">View</a>
                <a data-product="{{product.id}}" data-action="add" class="btn btn-warning add-btn update-cart text-dark">Add to Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}